.IdCardBox {
    margin: 2px;
    background-color: red;
    border: 1px black solid;
    display:flex ;
    flex-direction: row;
    justify-content: flex-start;

}

.texto {
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;

}

